*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

header {
    .navbar {
        background-color: rgb(98, 100, 100);
    }
    #serch{
        border: none;
    }
    #cart:hover{
        color: white;
    }
}

/* main start */

main {
    .d-block {
        aspect-ratio: 15/4;
    }
    .card:hover {
       box-shadow: 2px 2px 5px rgb(94, 93, 93);
    }
    .grid {
        display: grid;
        /* grid-template-columns: auto auto; */
    }
    .btn {
        background: none;
        color: black;
        border-color: black;
    }
    .card{
     
    }
    .card:hover{
        transform: scale(1.05);
    }
}
.products{
    object-fit: cover;
    overflow: hidden;
}
/* main end */