*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

header {
    .navbar {
        background-color: rgb(11, 171, 225);
    }
    #serch{
        border: none;
    }
    #cart:hover{
        color: white;
    }
}

/* main start */

main {
    .d-block {
        aspect-ratio: 16/4;
    }
    .card:hover {
       box-shadow: 2px 2px 5px rgb(94, 93, 93);
    }
    .btn:hover {
        background: none;
        color: black;
        border-color: black;
    }
    .card:hover{
        transform: scale(1.05);
    }
}