*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.btn-outline-primary{
    transition-duration: 1s;
    &:hover{
        background-color: #0d6efd;
        transition-duration: 700ms;
    }
}
.container-fluid{
    display: flex;
    justify-content: space-around;
}
.carousel-item img{
    width: 100%;
    height: auto;
    aspect-ratio: 16/4;
}
.card{
    transition-duration: 1s;
}
.card:hover{
    transform: translateY(-10px);
    transition-duration: 700ms;
    box-shadow: 4px 2px 5px 2px rgb(193, 190, 190);
}
.mt-3{
   .bi-facebook{
    transition-duration: 1s;
    &:hover{
        color: #0d6efd;
        transition-duration: 700ms;
        /* text-shadow: 1px 1px 0px  #0d6efd; */
    }
   }
   .bi-instagram{
    transition-duration: 1s;
    &:hover{
        color: rgb(249, 58, 198);
        transition-duration: 700ms;
    }
   }
   .bi-youtube{
    transition-duration: 1s;
    &:hover{
        color: red;
        transition-duration: 700ms;
    }
   }
}

/* Footer style starts */
.footer{
    display: grid;
    grid-template-columns: repeat(4,25%);
    background-color: rgb(30, 29, 29);
    padding: 50px;
    font-size: medium;
h4{
    color: white;
}
li,p{
    color: grey;
}
.links{
    /* background-color: antiquewhite; */
    ul{
        list-style: none;
        padding: 0px;
        li:hover{
            color: white;
            cursor: pointer;
        }
    }
}
.service{
    ul{
        list-style: none;
        padding: 0px;
        li:hover{
            color: white;
            cursor: pointer;
        }
    }  
}
.more{
    ul{
        display: flex;
        gap: 10px;
        color: white;
        list-style: none;
        padding: 0px;
    }
    li{
        font-size: large;
        .bi-facebook:hover{
            color: #0d6efd;
        }
        .bi-instagram:hover{
            color: rgb(247, 67, 190);
        }
        .bi-youtube:hover{
            color: red;
        }
    }
    .input{
        /* border: 1px solid white; */
        object-fit: cover;
        button{
            border: none;
            background-color: rgb(29, 18, 186);
            color: white;
            border-radius: 8px;
            padding: 3px;
        }
    }
}
}
/* Footer style ends */
@media (max-width:400px){
    .card{
        display: grid;
        /* grid-template-columns: repeat(2,1fr); */
    }
}