*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.btn-outline-primary{
    transition-duration: 1s;
    &:hover{
        background-color: #0d6efd;
        transition-duration: 700ms;
    }
}
.container-fluid{
    display: flex;
    justify-content: space-around;
}
.carousel-item img{
    width: 100%;
    height: auto;
    aspect-ratio: 16/4;
}
.card{
    transition-duration: 1s;
}
.card:hover{
    transform: translateY(-10px);
    transition-duration: 700ms;
    box-shadow: 4px 2px 5px 2px gray;
}